In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.io import loadmat  # this is the SciPy module that loads mat-files

In [35]:
def read_into_df_and_save_as_csv(f_name):
    mat = loadmat(f_name)
    df = pd.DataFrame(mat['data'])
    df.columns = ['time_sec', 'time_microsec', 'pos_h', 'pos_v', 'class']
    df['time_full'] = df['time_sec'] + (df['time_microsec'] / 1000_000)
    df['time_full'] = df['time_full'].astype(str)
    df = df[['time_sec', 'time_microsec', 'time_full', 'pos_h', 'pos_v', 'class']]
    return df

      time_sec  time_microsec          time_full   pos_h   pos_v  class
0   1237450899         488784  1237450899.488784  693553  544925      3
1   1237450899         499103  1237450899.499103  692383  545154      3
2   1237450899         499143  1237450899.499143  692769  544217      3
3   1237450899         519098  1237450899.519098  693178  546028      3
4   1237450899         519137  1237450899.519137  693718  547631      3
5   1237450899         519159  1237450899.519159  691244  543744      3
6   1237450899         527128  1237450899.527128  692989  545509      3
7   1237450899         539110   1237450899.53911  691241  546327      3
8   1237450899         539149  1237450899.539149  691844  544527      3
9   1237450899         563082  1237450899.563082  694647  546369      3
10  1237450899         563119  1237450899.563119  694789  542705      3
11  1237450899         579950   1237450899.57995  696668  540598      3
12  1237450899         579988  1237450899.579988  698104  539927      3
13  1237450899         586002  1237450899.586002  698227  541964      3
14  1237450899         586027  1237450899.586027  697307  541856      3
15  1237450899         586048  1237450899.586048  697194  543805      3
16  1237450899         591059  1237450899.591059  696669  543718      3
17  1237450899         595092  1237450899.595092  695087  543074      3
18  1237450899         599109  1237450899.599109  693420  544195      3
19  1237450899         603042  1237450899.603042  695355  545298      3

In [ ]:

plt.plot(df.pos_h)
plt.show()